* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  font-size: 12px;
}
main {
  min-height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 5%, 91%);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  border: none;
  border-radius: 25px;
  top: 25px;
}
.left-side {
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  height: 150px;
  background-position: left 15px bottom 45px;
}
.left-side img {
  width: 85%;
  position: absolute;
  top: -120px;
  left: 8%;
}
#box {
  width: 100px;
  position: absolute;
  left: 20px;
  top: -50px;
}
.right-side {
  position: relative;
  text-align: center;
  max-width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  height: 300px;
  top: -25px;
}
.right-side h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.text-side {
  border-bottom: 1px solid hsl(240, 3%, 77%);
}
.text-side-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.text-side-line p {
  font-size: 12px;
}
.text-side-line p:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}
.arrow {
  width: 10px;
  height: 10px;
  transition: 1s;
}
.txt {
  font-size: 14px;
}
.txt2 {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.bold {
  font-weight: bolder;
}
.hidden {
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
